PORT = 5001
DB_USERNAME = jaylunagariya
DB_PASSWORD = Jay1501
JWT_SECRET_KEY = YuvaBitcoin


AZURE_STRING=
AZURE_CONTAINER=yuvacoincontainer

# RPC_URL=https://data-seed-prebsc-1-s1.bnbchain.org:8545
RPC_URL=https://rpc.ankr.com/bsc

# prod
PRIVATE_KEY=

# testing
# PRIVATE_KEY=

# CONTRACT_ADDRESS=0xed24fc36d5ee211ea25a80239fb8c4cfd80f12ee

CONTRACT_ADDRESS=0x6FaebC4296515aa77aDAc948d7f51C366A5146aa
